/* main.css */

body {
  /*background-color: #f2f2f2;*/
    font-family: 'Alef', 'EB Garamond', serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Alef', 'Oswald', sans-serif;
    font-weight: 300;
    color: #333;
}


/* Paragraph & Typographic */
p {
    /*line-height: 28px;*/
    /*margin-bottom: 25px;*/
    font-size: 20px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    /*color: #f39c12;*/
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.logo {
	text-align: center;
	margin-top: 25px;
}

h1 {
	font-size: 70px;
}

.w {
	margin-top: 60px;
}
.w i {
	font-size: 26px;
	padding: 12px;
}


/* was main.css */




















html {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

body {
  background-color: rgba(255,255,255,0);
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

body.modal-open {
    overflow: hidden;
    position:fixed;
    width: 100%;
}

body:before {
    content:"";
    display:block;
    position:fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index:-1;
    background-color: rgba(255, 255, 255, 0.6);
}

.mid-container {
  width: 40%;
  height: 100%;
  margin: 3em auto;
  border-radius: 1.5em;
  -moz-box-shadow: 0 0 20px black;
  -webkit-box-shadow: 0 0 20px black;
  box-shadow: 0 0 20px black;
}

img {
    max-width: 100%;
    height: auto;
}

.profileimg {
  margin: 2%;
}

.header-text p{
  font-weight: bold;
  font-size: 5em;
}

.header-profile {
    text-align: center;
}

.header-profile p {
    line-height: 1em;
}

.header-profile>img {
    width: 20rem;
    top: 4em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;

    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

#credits-cr {
  font-size: medium;
}

#credits-cr a {
  color: #9A0330;
  font-size: inherit;
}

#footer {
    background-color: rgba(245, 245, 245, 0.5);
}

#profile-description {
  font-size: 2em;
}

#profile-description-block {
  margin-top: auto;
  margin-bottom: 6%;
}

.social-links {
  text-align: center;
  direction: ltr;
  margin-bottom: 5%;
  margin-top: 5%;
}

.social-links a {
  display: inline-block;
  margin: 1%;
  background: rgba(0,0,0,0.6);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;

  box-shadow: 0px 0px 50px 0px rgba(255,255,255,1);
  -webkit-box-shadow: 0px 0px 50px 0px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 50px 0px rgba(255,255,255,1);
}

.social-icon {
  font-size: 1.5em;
}

a {
  /*color: rgba(150,150,150,0.8);*/
  color: rgba(0,0,0,0.1);
}

span.avoidwrap { display:inline-block; }

@media screen and (max-device-width : 389px)
{
  .header-text p{
    font-weight: bold;
    font-size: 4em;
  }

  .social-icon {
    font-size: 1.3em;
  }

  #credits-cr {
    font-size: small;
  }

  #credits-cr a {
    color: #9A0330;
    font-size: inherit;
  }
}

@media screen and (max-device-width : 320px)
{
  .header-text p{
    font-weight: bold;
    font-size: 3em;
  }

  .social-icon {
    font-size: 1em;

  }

  #credits-cr {
    font-size: small;
  }

  #credits-cr a {
    color: #9A0330;
    font-size: inherit;
  }
}

.backstretch > img {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
