* {
  margin: 0;
  padding: 0;
}

html {
  background: url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: block;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: center;
}

body:before {
    content:"";
    display:block;
    position:fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index:-1;
    background-color: rgba(255, 255, 255, 0.3);
}

.social-links {
  text-align: center;
  direction: ltr;
  margin-bottom: 5%;
}

.social-links a {
  display: inline-block;
  margin: 1%;
  background: rgba(0,0,0,0.6);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;

  box-shadow: 0px 0px 50px 0px rgba(0,0,0,1);
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,1);


  /*box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);*/
}

.mid-container {
  width: 40%;
  height: 100%;
  margin: 3em auto;
  /*padding: 20px;*/
  border-radius: 1.5em;
  /*background-color: rgba(255, 255, 255, 0.8);*/
  -moz-box-shadow: 0 0 20px black;
  -webkit-box-shadow: 0 0 20px black;
  box-shadow: 0 0 20px black;
}

img {
    max-width: 100%;
    height: auto;
}

.profileimg {
  margin: 2%;
}

.header-profile {
    /*margin: 4em auto 0;*/
    text-align: center;
}

.header-profile>img {
    /*margin-left: -3.5rem;*/
    width: 13rem;
    top: 4em;
    /*position: absolute;*/
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;

    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

/*.profileimg {
  object-fit: cover;
  object-fit: contain;
  object-fit: fill;
  border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	background: url(../images/blumi.jpg) no-repeat center;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	}*/

#bg-license {
  color: #E0F0F0;
  text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

#bg-license a {
  text-decoration: none;
  color: #D0DFDF;
  text-shadow: inherit;
}

#footer {
  /*background:rgba(150,150,150,0.3);*/
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
  font-size: 0.9em;
}
